header nav {
  background-color: #EEF6FF;
}

header nav .inner-container .nav-logo {
  cursor: pointer;
  line-height: 110px;
}

header nav .inner-container .nav-menu .nav-menu-list .nav-menu-list-item {
  font-size: 18px;
  position: relative;
  z-index: 15;
  overflow: hidden;
}

header nav .inner-container .nav-menu .nav-menu-list .nav-menu-list-item:hover .home-dropdown {
  transition: .2s;
  opacity: 1;
  height: max-content;
}

header nav .inner-container .nav-menu .nav-menu-list .nav-menu-list-item:hover {
  overflow: visible;
}

header nav .inner-container .nav-menu .nav-menu-list .nav-menu-list-item:hover a {
  color: #FF6541;
}

header nav .inner-container .nav-menu .nav-menu-list .nav-menu-list-item .home-dropdown {
  z-index: 100;
  height: 0;
  opacity: 0;
  background-color: white;
  position: absolute;
  width: max-content;
  padding: 20px;
  box-shadow: 0 0 20px 0.4px rgba(0, 0, 0, 0.1);
}

header nav .inner-container .nav-menu .nav-menu-list .nav-menu-list-item .home-dropdown .home-dropdown-list-item {
  transition: .3s;
  cursor: pointer;
}

header nav .inner-container .nav-menu .nav-menu-list .nav-menu-list-item .home-dropdown .home-dropdown-list-item a {
  line-height: 34px;
}

header nav .inner-container .nav-menu .nav-menu-list .nav-menu-list-item .home-dropdown .home-dropdown-list-item a:hover {
  color: #FF6541 !important;
}

header nav .inner-container .nav-menu .nav-menu-list .nav-menu-list-item a {
  line-height: 110px;
  color: #373737 !important;
  transition: .2s;
}

header nav .inner-container .nav-basket i {
  cursor: pointer;
  transition: .2s;
}

header nav .inner-container .nav-basket i:hover {
  color: #FF6541;
}

header nav .inner-container .nav-basket h5 {
  cursor: pointer;
  transition: .2s;
}

header nav .inner-container .nav-basket h5:hover {
  color: #FF6541;
}

header nav .inner-container .nav-basket .burger-menu {
  position: fixed;
  top: 0;
  padding: 35px 30px;
  background-color: #fff;
  transition: .6s;
  right: -500px;
  height: 100%;
  width: 250px;
}

header nav .inner-container .nav-basket .burger-menu .burger-menu-close {
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 15px;
  position: absolute;
  top: 0;
  left: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

header nav .inner-container .nav-basket .burger-menu .burger-menu-close i {
  color: white;
}

header nav .inner-container .nav-basket .burger-menu .burger-menu-input input {
  font-size: 14px;
  width: 100%;
  height: 50px;
  border: none;
  background-color: #f6f6f6;
  padding: 15px;
}

header nav .inner-container .nav-basket .burger-menu .burger-menu-input i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 15px;
  border: none;
  background-color: #f6f6f6;
  border-left: 1px solid gray;
}

header nav .inner-container .nav-basket .burger-menu .burger-menu-list-menu-container .burger-menu-list-menu a {
  color: black;
}

header nav .inner-container .nav-basket .burger-menu .burger-menu-list-menu-container .burger-menu-list-menu .burger-menu-list-menu-item {
  overflow: hidden;
}

header nav .inner-container .nav-basket .burger-menu .burger-menu-list-menu-container .burger-menu-list-menu .burger-menu-list-menu-item .burger-dropdown {
  transition: .4s;
  font-size: 14px;
  max-height: 0;
}

header nav .inner-container .nav-basket .burger-menu .burger-menu-list-menu-container i {
  font-size: 12px !important;
}

header nav .inner-container .nav-basket .burger-menu .burger-menu-list-footer-container .burger-menu-list-footer a {
  color: black;
}

header nav .inner-container .nav-basket .burger-menu .burger-menu-list-footer-container .burger-menu-list-footer i {
  font-size: 12px;
}

.burgerActive {
  right: 0 !important;
  z-index: 33333;
}

.overlayActive {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(35, 35, 36, 0.7) none repeat scroll 0 0;
  z-index: 2222;
}

.accordionActive {
  max-height: 200px !important;
}

.plusMinusActive {
  display: none;
}

.nav.second {
  background-color: #e6eff8;
}

.nav.second .bold {
  font-size: 16px;
  font-weight: bold;
  color: #1c1c1c;
}

.nav.second .sec-icons {
  font-size: 20px;
  color: #010211;
  cursor: pointer;
}

.nav.second .sec-icons span {
  color: #ff5151;
  font-weight: bold;
}
